@import url("./Styles.css");

.homepage-desc {
  width: 65%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: white;
}

.links:hover {
  color: var(--hover-orange);
}

.links {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-orange);
}

.homepage-banner {
  background-image: url("../../public/assets/red_orange_gradient.jpg"); /* ../../public/assets/red_orange_gradient.jpg*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px; /* 500px */
  position: relative;
  overflow: hidden; /* Ensures the sun gets "clipped" when scrolling */
}

.sun-image {
  position: absolute;
  bottom: 150px;
  position: center;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  transition: transform 0s ease-out; /* Smooth movement */
  z-index: 0;
}

.homepage-bg {
  background-color: var(--main-orange);
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  z-index: 1;
}
.homepage-header {
  text-align: center;
  width: 65%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 75px;
  color: rgb(255, 255, 255);
}

.wholepage {
  height: relative;
}

.banner-padding {
  margin-top: 0px;
  margin-bottom: 0px;
}

.additional-content {
  height: 500px;
}

.columbia-crown {
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
}

.nyu-torch {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  background-color: white;
  border-radius: 10px;
}

.edu-columbia {
  margin-top: 25px;
  background-color: rgb(25, 44, 128);
  border-radius: 3px;
  padding: 20px;
}

.edu-nyu {
  margin-top: 25px;
  background-color: rgb(75, 15, 153);
  border-radius: 3px;
  padding: 20px;
}

.edu-text {
  margin-top: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  padding: 20px;
  border: 5px solid black;
}
