.navbar-logo{
    color: #ffbf00;
    font-weight: bold;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-right: 15px;
    text-decoration: none;
}

.navbar-logo:hover {
    color: #ff9100; /* Change color on hover */
}

.custom-nav-link{
    color: #f8f86f;
    font-weight: bold;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    text-decoration: none;
}

.custom-nav-link:hover{
    color: #ff9100;
}

.custom-nav-link-right{
    margin-right: 20px;
}

.navbar-toggler{ /*controls the borders */
    border: 4px solid #ff9100 !important; /* Change color and style */
    border-radius: 5px; /* Rounded corners */
    padding: 0px;
}
.navbar-toggler-icon{ /*Controls the hamburger picture*/
    background-image: url("../assets/menu_burger_white.png") !important;
    padding: 15px;
    margin: -3px;
}

  

  