@import url('./Styles.css');

.title {
    margin-top: 90px;
    margin-bottom: 100px;
    font-size: 80px;
}

.project-name {
    margin-top: 320px !important;
}
.projects-box {
    background-color: white !important;
    background-repeat: no-repeat;
}