:root {
  --main-orange: #ffa200;
  --hover-orange: #ff6f00;
  --main-yellow: #f8f86f;
  --bg-red: #ef1b46;
  --general-font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
