:root {
    --main-orange: #ffa200;
    --hover-orange: #ff6f00;
    --main-yellow: #f8f86f;
    --banner-turqoise: #057971;
    --bg-turqoise: #4ed79c;
    --general-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}
  