:root {
  --main-orange: #ffa200;
  --hover-orange: #ff6f00;
  --main-yellow: #ffee00;
  --bg-red: #ef1b46;
  --general-font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.general-font {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}